<h2>Login</h2>

<% if flash[:error] %>
  <br>
  <strong><%= flash[:error] %></strong>
  <br><br>
<% end %>


<%= form_tag login_path do %>
<div class="form-group">
  <div class="form-control">
  <%= label_tag :email %>
  <%=  email_field_tag :email, nil %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password, nil %>
</div>
</div>
<div class="btn btn-primary">
  <%= submit_tag 'Login' %>
</div>
  <% end %>
