
<% if flash[:errors].present? %>
<strong>Please correct the following errors in the form:</strong>
<ol>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
</ol>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <br>
  <br>
  <%= f.submit %>

<% end %>
