
<% if flash[:errors].present? %>
<strong>Please correct the following errors in the form:</strong>
<ol>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
</ol>
<% end %>

<%= form_for @post, html: {multipart:true} do |f| %>
  <%= f.label :heading %>
  <%= f.text_field :heading %>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <%= f.label :image %>
  <%= f.cl_image_upload :image %>

  <br>
  <br>
  <%= f.submit %>

<% end %>
