<div class="container-fluid">
  <div class="row">

    <div class="col-1">
    </div><!-- end  of 1st col -->

    <div class="col-7">
<ul>
  <% @posts.each do |post| %>
  <div class='main-posts-list'>
    <li>
      <div>
      <%= cl_image_tag post.image, class: 'userpicpost' %>
      </div>
      <div class='post-text-sample'>
        <div>
      <%= link_to post.heading, post_path(post.id) %>
    </div>
      <hr>
      <%= post.content %>
      (<%= post.user.name %>)
      </div>
    </li>
  </div>
  <% end %>
</ul>
    </div><!-- end  of 2nd col -->
    <div class="col-4">
     <div class="friends" >Members</div>

     <ul class="friendslist">
     <% @users.each do |user| %>
        <li>
        <span><%= link_to user.name, user_path(user.id), class: 'usernametxt'%></span>
        <div><%= cl_image_tag user.image, class: 'userpic' %></div>
        <hr>
        </li>
     <% end %>
     </ul>
    </div>
