<!DOCTYPE html>
<html>
  <head>
    <title>Project1b</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">



  </head>

  <body>
    <nav>
      <% if @current_user.present? %>
        Welcome, <%= @current_user.name %>

        <%= link_to 'Logout', login_path, method: 'delete' %>

      <% else %>
        <%= link_to 'Login', login_path %>
        |
        <%= link_to 'Sign up', new_user_path %>
      <% end %>
  | Create Post | Read Posts | Update Posts | Delete Posts |
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
